@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


.header {
  background-color: dodgerblue;
  border: 1px solid;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header li {
  text-transform: uppercase;
}

.header a {
  color: white;
  text-decoration: none;
}

.logo {
  width: 120px;
  height: 120px;
}

.ul {
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
}

.ul li {
  margin: 2px;
  padding: 10px;
}

/* ----MAIN INICIO----- */
.div-img {
  display: flex;
  background-image: url(../recursos/banner-filmstretch.jpg);
  flex-direction: column;
  align-items: center !important;
  width: 100%;
  background-size: cover;
  position: relative;
  height: calc(100vh - 70px);
  padding: 0;
  justify-content: center;
}

.footer {
  background-color: dodgerblue;
  border: 1px solid;
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer li {
  text-transform: uppercase;
}

.footer a {
  color: white;
  text-decoration: none;
}

.ul-footer {
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
}

.ul-footer li {
  margin: 2px;
  padding: 10px;
}

/* ----- MAIN NOSOTROS ---- */
.main-nos {
  display: flex;
  background-color: #77e3f1;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 2px;
  font-family: sans-serif;
  box-shadow: 2px 2px 2px;
  
}

.texto_nos {
  display: table-column;
  box-shadow: 2px 2px 2px;
}
@keyframes img1{
  0% { opacity: 0; transform: translateY(-20px); } /* Estado inicial (0%) */
  50% { opacity: 1; transform: translateY(0); } /* Estado intermedio (50%) */
  100% { opacity: 0; transform: translateY(20px); } /* Estado final (100%) */
}
.img1 {
  width: 500px;
  /* Ancho de la imagen */
  height: auto;
  /* Altura automática de la imagen para mantener la proporción */
  margin-right: 10px;
  /* Espacio entre la imagen y el texto */
  box-shadow: 2px 2px 2px;
  animation-name: img1;
  animation-duration: 2s; /* Duración de la animación (2 segundos en este caso) */
  animation-timing-function: ease; /* Función de temporización (ease, linear, etc.) */
  animation-delay: 0s; /* Retardo antes de que comience la animación (opcional) */
  animation-iteration-count: infinite; 
  
}

.h1 {
  font-size: 24px;
  /* Tamaño de fuente del encabezado */
  margin-bottom: 10px;
  /* Espacio inferior del encabezado */
  vertical-align: text-bottom;
}

.p {
  font-size: 20px;
  /* Tamaño de fuente del párrafo */
  margin-bottom: 10px;
  /* Espacio inferior del párrafo */
  float: right;
}

.p1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.ul1 {
  margin-left: 20px;
  /* Espacio a la izquierda de la lista */
  padding-top: 100px;
  font-size: 25px;
}

.div-nos2 {
  display: table-column;
}
@keyframes img_reci{
  0% { opacity: 0; transform: translateY(-20px); } /* Estado inicial (0%) */
  50% { opacity: 1; transform: translateY(0); } /* Estado intermedio (50%) */
  100% { opacity: 0; transform: translateY(20px); } /* Estado final (100%) */
}
.img_reci {
  float: left;
  margin-right: 10px;
  padding-top: 1%;
  width: 500px;
  height: auto;
  box-shadow: 2px 2px 2px;
  animation-name: img_reci;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

h2 {
  padding-top: 1%;
}

.p2 {
  font-size: 20px;
}

.p3 {
  font-size: 20px;
}

/* ---- MAIN PRODUCTOS ---- */
.main {
  background-color: #77e3f1;
  font-size: 18px;
  font-family: sans-serif;
}

.div-prod1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-item active {
  width: 500px;
}

.img-1 {
  width: 500px;
  padding: 3px;
}

.img-2 {
  width: 500px;
  padding: 3px;
}

.div-produc {
  padding: 3px;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (min-width: 0px) and (max-width: 680px) {
  /* Estilos específicos para dispositivos con una anchura máxima de 768px */

  main {
    border-right: solid 2px;
    border-color: red;
    height: 100vh;

  }

  .logo {
    width: 80px;
    height: 80px;
  }

  .ul li {
    padding: 5px;
    font-size: 10px;
  }

  .ul-footer li {
    margin: 2px;
    font-size: 10px;
  }

  .div-img {
    background-image: url(../recursos/banner-filmstretch.jpg);
    width: 100vh;
    height: 100vh;

  }

  .header {
    background-color: dodgerblue;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vh;
  }

  .footer {
    background-color: dodgerblue;
    border: 1px solid;
    padding: 1px;
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tituloPrincipal {
    font-size: 30px;
  }

  .h2Inicio {
    font-size: 25px;
    padding: 15px;
  }

  /* Añade más estilos específicos aquí */
}

@media screen and (min-width: 681px) and (max-width: 1024px) {
  main {
    border-right: solid 2px;
    border-color: red;
    height: 100vh;

  }

  .logo {
    width: 80px;
    height: 80px;
  }

  .ul li {
    padding: 5px;
    font-size: 10px;
  }

  .ul-footer li {
    margin: 2px;
    font-size: 10px;
  }

  .div-img {
    background-image: url(../recursos/banner-filmstretch.jpg);
    width: 120vh;
    height: 100vh;
  }

  .header {
    background-color: rgb(7, 94, 182);
    border: 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .footer {
    background-color: rgb(7, 94, 182);
    border: 1px solid;
    padding: 2px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tituloPrincipal {
    font-size: 30px;
  }

  .h2Inicio {
    font-size: 25px;
    padding: 15px;
    font-family: serif;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px){
  main {
    width: 100%;
    
    

  }

  .logo {
    width: 100px;
    height: 100px;
  }

  .ul li {
    padding: 5px;
    font-size: 10px;
  }

  .ul-footer li {
    margin: 2px;
    font-size: 10px;
  }

  .div-img {
    background-image: url(../recursos/banner-filmstretch.jpg);
    width: 100%;

  }

  .header {
    background-color: rgb(7, 94, 182);
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .footer {
    background-color: rgb(7, 94, 182);
    border: none;
    padding: 2px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tituloPrincipal {
    font-size: 30px;
  }

  .h2Inicio {
    font-size: 25px;
    padding: 15px;
    font-family: serif;
  }
}

