

.footer {
    background-color: dodgerblue;
    border: 1px solid;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer li {
    text-transform: uppercase;
}

.footer a {
    color: white;
    text-decoration: none;
}

.ul-footer {
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;

}

.ul-footer li {
    margin: 2px;
    padding: 10px;
}